/* Sidebar.css */

.sidebar-custom {
  background-color: #6a5acd; /* lilac */
  min-height: 100vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: sticky;
  top: 0;
  padding: 1rem;
}

.list-group-item-custom {
  background-color: transparent;
  border: none;
  padding: 0.8rem 0;
}

.nav-link-custom {
  color: white;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.nav-link-custom:hover {
  background-color: #7a68d6;
  color: #f0e6ff;
  transform: translateX(5px);
}
